[user]
    name = George Hawkins
    email = george-hawkins@users.noreply.github.com
[merge]
    tool = vimdiff
[push]
    default = simple
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    vimdiff = difftool
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    keepBackup = false
    trustExitCode = false
[pull]
    rebase = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
